.eslintrc.json
/node_modules
node_modules
*.DS_Store
.buildpath
.project
.settings
.idea
*.swp
sftp-config.json
.tags
.tags_sorted_by_file
*.env
/nbproject/private/
.env.bak
.env.example
npm-debug.log